.container{
    /* background: #ff0036; */
    background-color: #fff;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.container .title{
    position: absolute;
    top: 1rem;
    color: #1b1b1b;
    margin-bottom: 1rem;
}
.container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
}
.container .input{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: fit-content;
    margin: 2.5rem;
}
.input input{
    outline: none;
    padding: .6rem;
    border: none;
    margin-bottom: 1rem;
    background: inherit;
    border-bottom: 2px solid #1b1b1b;
    caret-color: #1b1b1b;
    color: #1b1b1b;
    font-size: 1rem;
}
.input input::placeholder{
    font-weight: 700;
    font-size: .9rem;
    color: #aaa;
}
.input span p{
    color: #ed3746;
}
.buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.buttons a{
    color: #1b1b1b;
}
.buttons button{
    background-color: inherit;
    color: #ed3746;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: .8rem;
    cursor: pointer;
}
.msg{
    position: absolute;
    margin: auto;
    bottom: 8rem;
    text-align: center;
}
.msg span p{
    color: #ed3746;
    margin: 0 auto;
}
@media (min-width: 1280px) {
    .container{
        width: 40%;
        margin: auto;
        margin-top: 1rem;
        height: 95vh;
        border-radius: 10px;
        box-shadow: 0 4px 4px 0 rgba(10, 10, 10, .2);
    }
}