.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    color:  #ed3746;
    scroll-behavior: smooth;
}
@media (min-width: 1280px) {
    .container{
        flex-direction: row;
    }
}